{% extends 'base.html' %}

{% block page-container %}
<div class="chat-container">
    <div class="left-contact-panel">
        contacts
        <div>
              <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#contact-tab"  role="tab" data-toggle="tab">好友</a>
                </li>
                <li role="presentation">
                    <a href="#group-tab"  role="tab" data-toggle="tab">群组</a>
                </li>
            </ul>
              <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="contact-tab">
                    <ul class="list-group">
                        {% for friend in request.user.userprofile.friends.select_related %}
                            <li  contact-id="{{ friend.id }}" contact-type="single" onclick="openChatWindow(this)" class="list-group-item">
                                <span class="badge hide">0</span>
                                <span class="contact-name"> {{ friend.name }} </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="group-tab">
                    <ul class="list-group">
                        {% for group in request.user.userprofile.group_members.select_related %}
                            <li  contact-id="{{ group.id }}" contact-type="group" onclick="openChatWindow(this)" class="list-group-item">
                                <span class="badge hide">0</span>
                                <span class="contact-name"> {{ group.name }} </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right-chat-panel">
        <div class="chat-box-title" contact-type="" contact-id="">
            title
        </div>
        <div class="chat-box-window">
            window
        </div>
        <div class="chat-box-emoj">
            emoj
            <div class="col-md-5">
                    <input id='file-upload' type="file" />
            </div>
            <div class="col-md-1"><span class="glyphicon glyphicon-upload" onclick="fileUpload()"></span></div>
        </div>
        <div class="progress hide">
            <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
            </div>
        </div>
        <div class="chat-box-msg-box">
            <textarea id="msg"></textarea>
            <button class="btn btn-success">发送消息</button>
        </div>
    </div>
    <div class="clear-both"></div>
</div>
{% endblock %}

{% block bottom-js %}
    <script>
        //for csrf
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken)

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        };

        GLOBAL_CHAT_RECORD_DIC = {
            'single':{},
            'group':{}
        };//存储每个用户聊天的内容

        $(document).ready(function(){
            //set csrf before send ajax
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            //end set csrf
            getNewMsgs();//开始取 消息
            $("#navbar a[href='{{ request.path }}']").parent().addClass("active");
            //send msg
            $("body").delegate("textarea","keydown",function(e){
                if (e.which == 13) {//Enter key down
                    //send msg button clicked
                    var msgText = $("textarea").val();
                    if ($.trim(msgText).length > 0) {
                        console.log(msgText);
                        sendMsg(msgText);
                    }
                    //no wait the send_msg's call confirm msg
                    addSentMsgIntoBox(msgText,'text');
                    $("textarea").val('');
                }
            });//end delegate
        });//end doc ready
        function sendMsg(msgText){
            var contactType = $(".chat-box-title").attr("contact-type");
            var contactId = $(".chat-box-title").attr("contact-id");
            if (contactId && contactType) {
                var msgItem = {
                    'from': "{{ request.user.userprofile.id }}",
                    'from_name':"{{ request.user.userprofile.name }}",
                    'to': contactId,
                    'type': contactType,
                    'msg': msgText
                }
                $.post("{% url 'sendMsg' %}",{data:JSON.stringify(msgItem)}, function(callback){
                    console.log(callback);
                });//end post
            }//end if
        };//end sendMsg


        function fileUpload() {
            var formData = new FormData();
            console.log($("#file-upload")[0].files[0]);
            formData.append('file',$("#file-upload")[0].files[0]);
            $.ajax({
                url: "{% url 'fileUpload' %}",
                type: 'POST',
                data: formData,
                processData: false,//tell JQuery not to process the data
                contentType: false,//tell JQuery not to set contentType
                success: function(data) {
                    console.log(data);
                }

            });//end ajax
            uploadProgress($("#file-upload")[0].files[0]);


        };//end fileUpload
        function uploadProgress(fileObj) {
            var progressRefresher = setInterval(function(){
                $.getJSON("{% url 'fileUploadProgress' %}",{filename:fileObj.name},function(callback){
                    console.log("upload progress:" + callback.recvSize);
                    if (fileObj.size == callback.recvSize){
                        //upload finish
                        clearInterval(progressRefresher);
                        addSentMsgIntoBox(fileObj.name,fileObj.type);
                        $.get("{% url 'deleteCacheKey' %}",{cacheKey:fileObj.name},function(callback){
                            console.log(callback);
                        });

                        hideProgress = setTimeout("$('.progress').addClass('hide')",5000);
                    };
                    $(".progress").removeClass('hide');
                    currentPercent = (callback.recvSize/fileObj.size)*100+"%";
                    $(".progress-bar").css('width',currentPercent);
                    $(".progress-bar").text(currentPercent);


                })
            },1000);//end setInterval

        };//end fileUploadProgress
        function addSentMsgIntoBox(msgText,msgType){
            if (msgType == 'text'){
                var newMsgEle = "<div class='msg-item'>" +
                                "<span>" + "{{ request.user.userprofile.name }}"  + "</span>" +
                                "<span>"  + " " + new Date().toLocaleTimeString() +"</span>" +
                                "<div class='msg-text'>" + msgText +"</div>" +
                              "</div>"
            }else if (msgType.startsWith('image') ){
                var newMsgEle = "<div class='msg-item'>" +
                            "<span>" + "{{ request.user.userprofile.name }}"  + "</span>" +
                            "<span>"  + " " + new Date().toLocaleTimeString() +"</span>" +
                            "<div class='msg-text'><img width='300px' src='/static/" +
                        "{{ request.user.userprofile.id }}/"+ msgText + "' /></div>" +
                          "</div>"
            }else{
                var newMsgEle = "<div class='msg-item'>" +
                            "<span>" + "{{ request.user.userprofile.name }}"  + "</span>" +
                            "<span>"  + " " + new Date().toLocaleTimeString() +"</span>" +
                            "<div class='msg-text'><a href='/static/"+
                            "{{ request.user.userprofile.id }}/"+ msgText + "' target='_blank'>有新文件到达，点击下载</a></div>" +
                          "</div>"
            };
            $(".chat-box-window").append(newMsgEle);
            $(".chat-box-window").animate({  //聊天的显示内容的窗口能自动滑滚， chat-box-window要添加一个样式：overflow: auto;/*给div 做内容多了就自动加滚动条*/
                scrollTop: $(".chat-box-window")[0].scrollHeight},500);
        };//end addSentMsgIntoBox
        function openChatWindow(ele){
            $(ele).addClass("active");
            $(ele).siblings().removeClass("active");
            var contactId = $(ele).attr("contact-id");
            var contactName = $(ele).find(".contact-name").text();
            var contactType = $(ele).attr("contact-type");

            //在切换聊天对象之前把聊天记录归档
            var currentId = $(".chat-box-title").attr("contact-id");
            var currentType = $(".chat-box-title").attr("contact-type");
            if (currentId) {

                GLOBAL_CHAT_RECORD_DIC[currentType][currentId] = $(".chat-box-window").html()

            }

            var chatTitle = "正在跟" + contactName + "聊天";
            $(".chat-box-title").html(chatTitle);
            $(".chat-box-title").attr("contact-id",contactId);
            $(".chat-box-title").attr("contact-type",contactType);

            //切换聊天对象之后获取字典对应内容
            var newChatRecord = GLOBAL_CHAT_RECORD_DIC[contactType][contactId];
            if (typeof newChatRecord == 'undefined') {
                newChatRecord = '';
            }
            $(".chat-box-window").html(newChatRecord);
            //hide new msg badge
            var contactEle = $(".list-group li[contact-type='"+ contactType + "']").filter("li[contact-id='"+contactId+"']")[0];
            $(contactEle).find(".badge").text(0);
            $(contactEle).find(".badge").addClass("hide");

        };//end openChatWindow

        function getNewMsgs(){
            console.log("----------get new msgs---------")
            $.getJSON("{% url 'getNewMsgs' %}",function(callback){
                console.log(callback);
                parseNewMsgs(callback);//解析用户发送的消息
                getNewMsgs();//递归调用函数，与后台queue.get(timeout=60)阻塞，60秒超时throw Queue.empty exception, 有消息即返回--callback结合使用，可获取实时消息
            });//end getJSON
        };//end getNewMsgs
        function parseNewMsgs(callback){
            var currentSessionId = $(".chat-box-title").attr("contact-id");
            var currentSessionType = $(".chat-box-title").attr("contact-type");
            for (var i in callback){
                console.log(callback[i]);
                //{msg: "↵eirer", type: "single", from: "1", timestamp: 1468138196.070398, to: "4"}
                if (callback[i].type == 'single'){
                    var msgContactId = callback[i].from;
                }else{
                    var msgContactId = callback[i].to;
                }
                var newMsgEle = "<div class='msg-item'>" +
                    "<span>" + callback[i].from_name  + "</span>" +
                    "<span>"  + " " + callback[i].timestamp +"</span>" +
                    "<div class='msg-text'>" + callback[i].msg +"</div>" +
                  "</div>"
                if (currentSessionId == msgContactId && currentSessionType == callback[i].type) {
                    //此消息的发送方当前正在跟我聊天

                    $(".chat-box-window").append(newMsgEle);
                }else{
                    //把来自其他用户发过来的消息暂存至字典
                    if (GLOBAL_CHAT_RECORD_DIC[callback[i].type][msgContactId]) {
                        GLOBAL_CHAT_RECORD_DIC[callback[i].type][msgContactId] += newMsgEle;
                        //console.log('--------here, check the stored msg from dic;-----------',GLOBAL_CHAT_RECORD_DIC[callback[i].type][callback[i].from])
                    }else{
                        GLOBAL_CHAT_RECORD_DIC[callback[i].type][msgContactId] = newMsgEle;

                    }

                };//end if

                //新消息提醒
                var contactEle = $(".list-group li[contact-type='"+ callback[i].type + "']").filter("li[contact-id='"+msgContactId+"']")[0];
                var currentMsgNum = $(contactEle).find(".badge").text();
                //console.log('-----current msg num:',currentMsgNum);
                $(contactEle).find(".badge").removeClass("hide");
                $(contactEle).find(".badge").text(parseInt(currentMsgNum)+1);
                //console.log('-----updated msg num;',$(contactEle).find(".badge").text());

            };//end for
        };//end parseNewMsgs
    </script>

{% endblock %}